
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;   
  background-color: #f0f0f0; 
}


.audio-player {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#album-cover {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.song-info h2,
.song-info p {
  margin: 5px 0;
}

.controls button {
  margin: 5px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls button:hover {
  background-color: #0056b3;
}
